<%= title "#{@controller.action_name.humanize} #{@controller.controller_name.singularize.humanize} - #{@view.name}" %>

<div id="page">
  <%= error_messages_for 'view' %>
  
  <table class="form">
  <% form_tag :action => 'update', :id => @view do %>
    <%= render :partial => 'form' %>
    <tr>
      <td class="button-bar" colspan="2"><%= submit_tag "Update" %> <%= submit_tag "Cancel" %></td>
    </tr>
  <% end %>
  </table>
</div>
