<%= help_title "Add Filter" %>
<p>Select the filter to add with the dropdown near the 'Add Filter' button in the condition section.
If you cannot select a filter, there is no filter that can be applied to that datasource. Check if
all rows used by the desired filter are available in the current datasource. To add the filter press the button 'Add Filter'.</p>