<% for filter in @filters %>
  <fieldset>
    <legend>
	<%= filter.name %> 
    </legend>
    <%= render_component :controller => "filters", :action => "show_inline", :id => filter.id %>
  </fieldset>
<% end %>