Source: alois
Section: net
Priority: optional
Maintainer: Flavio Pellanda <flavio.pellanda@logintas.ch>
Uploaders:  Flavio Pellanda <flavio.pellanda@logintas.ch>
Build-Depends: debhelper (>= 5), libisi-ruby1.8, rake, gcj (>= 4.1), rubygems (>=1.3), libopenssl-ruby, libtermios-ruby, ruby1.8-dev, libcroco3, libmysqlclient15-dev, libjfreechart-java, libaprutil1-dev, libopenssl-ruby, libhpricot-ruby1.8, libruport-ruby1.8, libmysql-ruby1.8, libhoe-ruby1.8, libfastercsv-ruby1.8, libinline-attachment-ruby1.8, librubyforge-ruby1.8, libfastthread-ruby1.8, libwill-paginate-ruby1.8, libcolor-tools-ruby1.8, libpdf-writer-ruby1.8, libtransaction-simple-ruby1.8, libcsspool-ruby1.8 (= 0.2.6), libffi-ruby1.8, libcroco3-dev, libacts-as-reportable-ruby1.8
Standards-Version: 3.7.2

# ------------------ Single installation -------
Package: alois-single-system
Architecture: any
Depends: alois-reporter (=${Source-Version}),alois-prisma (=${Source-Version}), alois-sink (=${Source-Version}), ruby
Description: Package with configuration for installing ALOIS on one system.
 If you want to install ALOIS on a single System, install this package and 
 follow the instructions. 
   Execute /usr/sbin/alois-setup after installation

# ------------------ Sink/Reporter ----------------------

Package: alois-sink
Architecture: any
Depends: alois-prisma (=${Source-Version}), syslog-ng, ruby1.8, mysql-client-5.0, rubygems (>=1.3), munin-node, libopenssl-ruby, libmysqlclient15off
Description: Advanced Logging and Intrusion Detection System - sink package
 The "sink" for all log messages. 
 This package recives log messages from servers through
 udp and writes them into the pumpy database.
 This package contains munin configurations and
 dependencies for sink part of a 2/3 tier installation

Package: alois-reporter
Architecture: any
Depends: alois (=${Source-Version}), munin, munin-node, apache2, libapache2-mod-passenger, ruby1.8
Description: Advanced Logging and Intrusion Detection System - reporter package
 The "reporter"
 This package contains apache2 dependencies and munin
 configurations for reporter part of a 2/3 tier installation

# ------------------ Alois ----------------------

Package: alois
Architecture: any
Depends: alois-common (=${Source-Version}), alois-prisma (=${Source-Version}), gij, libjfreechart-java, sun-java5-jre, ruby1.8, libgcj7-awt | libgcj8-awt | libgcj8-1-awt, libhpricot-ruby1.8, libruport-ruby1.8, libmysql-ruby1.8, libhoe-ruby1.8, libfastercsv-ruby1.8, libinline-attachment-ruby1.8, librubyforge-ruby1.8, libfastthread-ruby1.8, libwill-paginate-ruby1.8, libcolor-tools-ruby1.8, libpdf-writer-ruby1.8, libtransaction-simple-ruby1.8, libcsspool-ruby1.8 (= 0.2.6), libffi-ruby1.8, libcroco3-dev, libacts-as-reportable-ruby1.8
Description: Advanced Logging and Intrusion Detection System - reporter package
 Main package with rails frontend

Package: alois-test
Architecture: any
Depends: ruby1.8, libyaml-ruby, libzip-ruby, adduser, cron, libisi-ruby1.8, libmysql-ruby1.8
Description: Advanced Logging and Intrusion Detection System - Test package
 Test cases

# ------------------ Prisma ----------------------

Package: alois-prisma
Architecture: any
Depends: alois-common (=${Source-Version}), ruby1.8
Description: Advanced Logging and Intrusion Detection System - Prisma package
 Prisma takes different log sources and saves them into the prisma database
 after parsing.

# ------------------ Common ----------------------

Package: alois-common
Architecture: any
Depends: ruby1.8, libyaml-ruby, libzip-ruby, adduser, cron, libisi-ruby1.8, libmysql-ruby1.8
Description: Advanced Logging and Intrusion Detection System - Common package
 The rdoc package is needed for installing activerecord trough gems.
