<h1>Report <%= @report.name %></h1>
<%= link_to "Report \##{@report.id}", :only_path => false, :controller => "reports", :action => "show", :id => @report %>
<%= BaseMailer.translate_image_links(@report.html) %>
