   <tr>
     <th class="form_header">Charts</th>
     <th class="form_header">Tables</th>
   </tr>
   <tr>
     <td><%= render :partial => "edit_charts" %></td>
     <td><%= render :partial => "edit_tables" %></td>
   </tr>