<h1>Edit <%= @report_template.name %></h1>
<div id="page">

  <table class="form">

<% form_tag :action => 'update', :id => @report_template do %>
    <tr>
      <th class="form_header" colspan="2">Report Template</th>
    </tr>
  <%= render :partial => 'form' %>
    <tr>
      <td class="button-bar" colspan="2"><%= submit_tag "Update" %> <%= submit_tag "Cancel" %></td>
    </tr>
<% end %>

  </table>
</div>
