<tr>
  <th class="form_header" colspan="2">Detail</th>
</tr>
<tr>
  <th><label for="current_filter_name">Name</label></th>
  <td><%= text_field 'current_filter', 'name'  %></td>
</tr>
<tr>
  <th><label for="current_filter_description">Description</label></th>
  <td><%= text_area 'current_filter', 'description', :style => "width: 99%", :rows => 4  %></td>
</tr>
