<%= javascript_tag("function table_invalid(){Element.setStyle('log_table', {backgroundColor : '#FFBBBB'})}") %>
<%= javascript_tag("function table_reload(){Element.setStyle('log_table', {backgroundColor : '#FFFF66'})}") %>
<%= javascript_tag("function table_valid(){Element.setStyle('log_table', {backgroundColor : 'transparent'})}") %>

<%= render :partial => "/filters/form" %>
