<%= help_title("Dobby in rate") %>
<p>The total aomunt of reocrds written by
prisma into the dobby database.</p>
<p>This rate is bigger than the 
<%= help_link "pumpy outgoing rate", "pumpy_out"  %>
because each message will be splited into 
several sub records. So one incoming message may
be part of e.g. 5 records.</p>
<p>The unit is messages per second.</p>
