<%= help_title("Dobby") %>
<p>Dobby is the database where the dispatched 
messages are stored. This is the main database
where all the queries and sentinels work on.</p>
<p> On the <%= help_link "Tablelist" %> 
page you can see which system tables exists in
the database and on the <%= help_link "Views" %>
you can see the views..</p>