<%= help_title("Filter") %>
<p>A filter is a set of sql conditions. You can apply a filter to a <%= help_link "view" %> or a table. By doing so you pick a specific set of data out of the whole datasource. Maybe you want to specify a filter for data on a day where something special happened, for a group of users and so on.</p>