<%= help_title("Lizard") %>
<p>The Lizard appliance searches the <%= help_link "Dobby" %>
database for unusual activities in your environment. It executes
so called <%= help_link "Sentinels" %> that will find 
events that are diverging from predefined policies.</p>

