<%= help_title("Munin") %>
We use munin for host overall statistics. It includes statistics about processor, memory and harddisk-space. Alois comes with some munin-plugins that gives a short overview of the message amount processed by alois. To learn more of munin see: <a href="http://munin.sourceforge.net/" target="_blank">Munin at sourceforge</a>