<%= help_title("Prisma") %>
<p>Prisma is the log message parsing
daemon. It reads log messages from the
 <%= help_link "pumpy" %> database, interprets
its contents (disassembling) and writes it
into the <%= help_link "Dobby" %> database.</p>
