<%= help_title("Sink input rate") %>
<p>The total amount of messages reaching the sink
host. This is measured before any message is thrown
away.</p>
<p>Currently this value is the amount of syslog packages
reaching the sink host.</p>
<p>The unit is messages per second.</p>

