<%= help_title("Pumpy") %>
<p>The Pumpy database appliance is the first stage
where the messages flowing into alois are
stored. It's some sort of buffer - means, that
if <%= help_link "Prisma", "prisma" %> is not running (e.g. for
administrative purpose) all messages are stored
here until the disassembling of the messages
can be resumed.</p>
