<%= help_title("syslog-ng") %>
syslog-ng uses the quasi-standard BSD syslog protocol, specified in RFC 3164. As the text of RFC 3164 is vague and was never intended to be a standard, various incompatible extensions of it emerged. syslog-ng tries it hard to interoperate a wide variety of devices, and with user control the format of relayed messages can be customized.

<br><a href="http://en.wikipedia.org/wiki/Syslog-ng">See Wikipedia</a>