<%= help_title("Table list") %>
<p>On this page you can see all tables used to store the
processed information. These tables are only used to store
information. To analyze the logs you should better use
the <%= help_link "Views" %>.</p>
<p><%= link_to "All tables", :controller => "tablelist" %></p>
