<%= help_title("View") %>
<p>A view is basically a query that is stored in the database. It gives you another sight to your data. Normally a view should contain a column "date" so that you can filter out a specific set and the system does not have to search the whole table for your request.</p>
<p><%= link_to "All views", :controller => "views" %></p>
